.App {
  text-align: center;
  width: 100vw;
}
.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.green-border {
  border: 1px solid black;
}

#home {
  display: grid;
  grid-template-columns: 70% 30%;
  column-gap: 0.5em;
  height: 100vh;
  width: calc(100vw - 1em);
  margin: 0px 0.5em;
}

.header {
  margin: auto;
  font-size: 40px;
}

.showcaseItem {
  height: 80%;
  margin: 0.5rem;
}

.showcaseContainer {
  width: 100%;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  display: flex;
  justify-self: space-between;
}
