.productList{
        list-style: none;
        display: flex;
}

.product{
        width: 150px;
        height: 150px;
}

.centeredContent{
        display: flex;
        align-items: center;
        justify-content: center;
}
